img {
    height:450px;
    width:700px;
}

h1 {
    text-align:center;
}

body {
    background-color:peru;
}
h2 {
    text-align:center;
}
p {
    background-color:rgb(233, 200, 111);
}
a {
    color:black;
}
